/* Ini akan mengimpor semua utilitas Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Gaya dasar dan animasi kustom Anda */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f1f5f9; /* slate-100 */
}
.dark body {
    background-color: #020617; /* slate-950 */
}
#main-content {
    transition: opacity 0.2s ease-in-out;
}
#main-content.is-changing {
    opacity: 0;
}
